#TROOP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin: 10px 0px 0px 5px;
  visibility: hidden;
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#TROOP_CONTAINER{
}

#TROOP_IMG_CONTAINER {
  height: 250px;
  width: 250px;
}


#TROOP_IMG {
  border-radius:10px;
  height: 250px;
  width: 250px;
}

.small_icon{
  background-color:rgba(0,0,0,0.7);
  border-radius:4px;
  cursor:pointer;
  position: relative;
}

.icon{
  height:14px;
  width:auto;
  padding-left:5px;
}

#TROOP_NAME {
  margin: 0px;
  max-width: 250px;
}

#TROOP_EMBLEM_IMG {
  height: 25px;
  width: auto;
  top: -98%;
  left: 7px;
}

#TROOP_RACE_IMG {
  height: 25px;
  width: auto;
  top: -98%;
  left: 195px;
}

#TROOP_COMBAT_TYPE_IMG {
  height: 20px;
  width: 20px;
  top: -12%;
  right: 45px;
}

#TROOP_CHARGE_IMG{
  height: 20px;
  width: auto;
  top: -12%;
  right: 40px;
}

#TROOP_GRAIN .flex_row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#GRAIN_IMG {
  max-height: 40px;
  max-width: 40px;
  -webkit-transition: top 0.5s ease 0s;
  -o-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
}

#GRAIN_VALUE {
  font-size: 1.75em;
  margin: 0;
}

#TROOP_TIME {
  text-align: center;
}

#LEVEL_UP_BUTTON[type="image"] {
  max-height: 45px;
}

#LEVEL_DOWN_BUTTON[type="image"] {
  max-height: 45px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#TROOP_JUMP_TO_LEVEL {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  margin-left: 5px;
}

th,
td {
  padding: 5px;
}

.qmark {
  cursor:help;
  height: auto;
  max-width: 20px;
}

.content_hide {
  display: none;
}

@media screen and (max-device-width: 554px) {
  #TROOP_STATS {
    margin: 5px 0 0 5px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  #TROOP_CONTAINER {
    max-width: 280px;
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
  }
}
